/* Body *************************************************/

	body {
		margin: 0 auto;
		width: 100%;
		max-width: 1024px;
		background-image: url("../images/chalkboard_bg.jpg");
		font: 18px 'Handlee', cursive;
		color: white; }
	
	h1 { font: 50px 'Sarina', cursive; }